SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_ROLE=

KALSHI_API_KEY_ID=
KALSHI_API_KEY=

DBT_DATABASE=PROD
DBT_SCHEMA=STAGE
DBT_SOURCE_DATABASE=PROD
DBT_SOURCE_SCHEMA=RAW
