# Snowflake credentials (key-pair auth)
SNOWFLAKE_ACCOUNT=YOUR_SNOWFLAKE_ACCOUNT
SNOWFLAKE_USER=YOUR_SNOWFLAKE_USER
SNOWFLAKE_PRIVATE_KEY_PATH=YOUR_PATH_TO_SNOWFLAKE_PRIVATE_KEY_P8
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=
SNOWFLAKE_WAREHOUSE=YOUR_SNOWFLAKE_WAREHOUSE
SNOWFLAKE_ROLE=YOUR_SNOWFLAKE_ROLE